pipeline/copy_BLOBtoBLOB_Parameterize.json
{
	"name": "copy_BLOBtoBLOB_Parameterize",
	"properties": {
		"activities": [
			{
				"name": "GetParameterFromSQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select SourceFolder,SourceFileTYpe,TargetFolder,TargetFileTYpe from [dbo].[CGConfiguration] where ParamName='CopyJSON_BLOBtoBLOB'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy_BLOBtoBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetParameterFromSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@activity('GetParameterFromSQL').output.value[0].SourceFolder",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@activity('GetParameterFromSQL').output.value[0].SourceFileTYpe",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "az_cglhsrc_path",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "az_chlhtarget_path",
						"type": "DatasetReference",
						"parameters": {
							"TargetPath": {
								"value": "@activity('GetParameterFromSQL').output.value[0].TargetFolder",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "Jyoti_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-10T12:31:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}