pipeline/file_metadata_lookup_if.json
{
	"name": "file_metadata_lookup_if",
	"properties": {
		"activities": [
			{
				"name": "Last Execution date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sql_Getlastmodifieddate_proc]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "az_sql_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "last modified date",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Az_meta_csv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"contentMD5",
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If_Test",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Last Execution date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "last modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(\nactivity('last modified date').output.lastModified,\nactivity('Last Execution date').output.firstRow.lastmodifieddate\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait_false",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait_true",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Jyoti_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-02T12:05:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}