pipeline/LoadBlobToTable.json
{
	"name": "LoadBlobToTable",
	"properties": {
		"activities": [
			{
				"name": "GetSqlDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select SourcePath,SourceFolder,SourceFileType,SQLTargetDatabase,SQLTargetUser,SQLTargetPassword,SQLTargetTable,ExcludeFiles,ColstoCopy from FBI_POC.[dbo].[FBI_Configuration] \nwhere GroupName='CopyFiles_BLOBtoSQL' and ActiveFlag='y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azureblobtosql_source",
						"type": "DatasetReference",
						"parameters": {
							"sinkTableName": "@item().SQLTargetTable"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSqlDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSqlDetail').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/v-prrahe@microsoft.com/LoadBlobtoSQL",
								"baseParameters": {
									"SourcePath": {
										"value": "@item().SourcePath",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@item().SourceFolder",
										"type": "Expression"
									},
									"SourceFileType": {
										"value": "@item().SourceFileType",
										"type": "Expression"
									},
									"ExcludeFileNames": {
										"value": "@item().ExcludeFiles",
										"type": "Expression"
									},
									"ColstoCopy": {
										"value": "@item().ColstoCopy",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loadblobtotable_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "2020/08/01/parquetToLoadToSQL",
										"wildcardFileName": "*.parquet"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_ForLoadingParquetFromblob_poc",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "azureblobtosql_source",
									"type": "DatasetReference",
									"parameters": {
										"sinkTableName": {
											"value": "@item().SQLTargetTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"ExcludeFileNames": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Jyoti_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-30T16:41:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}