pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "GetSqlTableDetailForFileComparision",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select a.ParamName,a.SourcePath,a.SourceFolder,a.SourceFileType_New as SourceFileType,a.TargetPath,a.TargetFolder,a.TargetFileType,a.ResultSourcePath,a.ResultSourceFolder,a.ResultFileType\n,a.ActiveFlag, a.Priority,a.ColstoCompare,a.KeyColumns  from (\nselect ParamName,SourcePath,SourceFolder,SourceFileType,TargetPath,TargetFolder,TargetFileType,ResultSourcePath,ResultSourceFolder,ResultFileType, ActiveFlag,Priority,ColstoCompare,KeyColumns, CASE \n\t\t\t\tWHEN (SourceFileType is NULL) THEN '*'\n\t\t\t\tELSE SourceFileType\n\t\t\t\tend as SourceFileType_New \n\t\t\t\tfrom [cglhdatabase].[dbo].[CGConfiguration] \nwhere GroupName='CompareFiles' and ActiveFlag = 'Y') a order by Priority",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSqlTableDetailForFileComparision",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSqlTableDetailForFileComparision').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Compare_File_Parameterize",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/jyoti.srivastava@annik.com/File_Comparision",
								"baseParameters": {
									"SourcePath": {
										"value": "@item().SourcePath",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@item().SourceFolder",
										"type": "Expression"
									},
									"SourceFileType": {
										"value": "@item().SourceFileType",
										"type": "Expression"
									},
									"TargetPath": {
										"value": "@item().TargetPath",
										"type": "Expression"
									},
									"TargetFolder": {
										"value": "@item().TargetFolder",
										"type": "Expression"
									},
									"ResultSourcePath": {
										"value": "@item().ResultSourcePath",
										"type": "Expression"
									},
									"ResultSourceFolder": {
										"value": "@item().ResultSourceFolder",
										"type": "Expression"
									},
									"ResultSourceFileType": {
										"value": "@item().ResultFileType",
										"type": "Expression"
									},
									"ColstoCompare": {
										"value": "@item().ColstoCompare",
										"type": "Expression"
									},
									"KeyCols": {
										"value": "@item().KeyColumns",
										"type": "Expression"
									},
									"TargetFileType": {
										"value": "@item().TargetFileType",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "cglhADFtoDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Jyoti_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-01T15:01:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}