pipeline/ToCopyAllFilesExceptExcludedFiles.json
{
	"name": "ToCopyAllFilesExceptExcludedFiles",
	"properties": {
		"activities": [
			{
				"name": "GetAllCSVFilesthatNeedToBeCopied",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.a1",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IfConditionToFilterFilestoCopy",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(pipeline().parameters.a2,item().name)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "a3",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "SetvariableWithFinalFileNames",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAllCSVFilesthatNeedToBeCopied",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Final",
					"value": {
						"value": "@variables('a3')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetvariableWithFinalFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('a3')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyFilteredFiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "@pipeline().parameters.SourceFolder",
										"wildcardFileName": " @item()"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ""
									}
								},
								"enableStaging": false,
								"parallelCopies": 50
							},
							"inputs": [
								{
									"referenceName": "cglhlinkedservice_SourceBlob",
									"type": "DatasetReference",
									"parameters": {
										"SourcePath": "@pipeline().parameters.SourcePath",
										"SourceFolder": "@pipeline().parameters.SourceFolder",
										"SourceFile": "@pipeline().parameters.SourceFile"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CGLH_TargetExcludeFunction",
									"type": "DatasetReference",
									"parameters": {
										"TargetPath": {
											"value": "@pipeline().parameters.TargetPath",
											"type": "Expression"
										},
										"TargetFolder": {
											"value": "@pipeline().parameters.TargetFolder",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"a1": {
				"type": "array"
			},
			"a2": {
				"type": "array"
			},
			"SourcePath": {
				"type": "string"
			},
			"SourceFolder": {
				"type": "string"
			},
			"TargetPath": {
				"type": "string"
			},
			"TargetFolder": {
				"type": "string"
			},
			"SourceFileType": {
				"type": "string"
			}
		},
		"variables": {
			"a3": {
				"type": "Array"
			},
			"Final": {
				"type": "Array"
			},
			"UpdateSourceTypeVariable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Jyoti_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-24T17:29:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}