MSSalesBizPOC/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "MSSalesBizPOC"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_2lq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "GeographyKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CustomerAlternateKey",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Title",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FirstName",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MiddleName",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "AddressLine1",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "AddressLine2",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Phone",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DateFirstPurchase",
						"type": "date",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CommuteDistance",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FrenchEducation",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "EnglishOccupation",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SpanishOccupation",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FrenchOccupation",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "HouseOwnerFlag",
						"type": "nchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NumberCarsOwned",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YearlyIncome",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "TotalChildren",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "NumberChildrenAtHome",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "EnglishEducation",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SpanishEducation",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "LastName",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NameStyle",
						"type": "bit",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "BirthDate",
						"type": "date",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "MaritalStatus",
						"type": "nchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Suffix",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Gender",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DimCustomer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_2ty')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Factsalesquotapost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_5qz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FactSalesQuota"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_e7f')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Factsalesquotapost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_i1h')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AccountKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentAccountKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AccountCodeAlternateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentAccountCodeAlternateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AccountDescription",
						"type": "nvarchar"
					},
					{
						"name": "AccountType",
						"type": "nvarchar"
					},
					{
						"name": "Operator",
						"type": "nvarchar"
					},
					{
						"name": "CustomMembers",
						"type": "nvarchar"
					},
					{
						"name": "ValueType",
						"type": "nvarchar"
					},
					{
						"name": "CustomMemberOptions",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DimAccount"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ig5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Factsalesquotapost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ntp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FactSalesQuota"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_omk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FactSalesQuota"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_oxk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Factsalesquotapost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_py1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cglh_sqlserverpost",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Factsalesquotapost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_q1d')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "FactSalesQuota"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ta5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FactSalesQuota"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_tme')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesQuotaKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EmployeeKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CalendarYear",
						"type": "smallint",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "CalendarQuarter",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "SalesAmountQuota",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Factsalesquotapost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cglhtable_onpremtoazure')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServercglh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromDifferentBlobWithExcludeFile_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSqlTableDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select a.ParamName,a.SourcePath,a.SourceFolder,a.SourceFileType_New as SourceFileType,a.TargetPath,a.TargetFolder,a.TargetFileType,a.ExcludeFiles,a.ActiveFlag from (\nselect ParamName,SourcePath,SourceFolder,SourceFileType,TargetPath,TargetFolder,TargetFileType,ExcludeFiles, ActiveFlag, CASE \n\t\t\t\tWHEN (SourceFileType is NULL) THEN '*'\n\t\t\t\tELSE SourceFileType\n\t\t\t\tend as SourceFileType_New \n\t\t\t\tfrom [cglhdatabase].[dbo].[CGConfiguration] \nwhere GroupName='CopyFiles' and ActiveFlag = 'Y') a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Record",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSqlTableDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSqlTableDetail').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SetVariableForExclueFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(empty(item().ExcludeFiles))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "CopydataForeach",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@item().SourceFolder",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@item().SourceFileType",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "CGLHSourceCSVType",
														"type": "DatasetReference",
														"parameters": {
															"SourcePath": {
																"value": "@item().SourcePath",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "CGLHTargetCSVType",
														"type": "DatasetReference",
														"parameters": {
															"TargetPath": {
																"value": "@item().TargetPath",
																"type": "Expression"
															},
															"TargetFolder": {
																"value": "@item().SourceFolder",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "SwitchForSettingFileType",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@item().SourceFileType",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "*.json",
															"activities": [
																{
																	"name": "Get MetadataForJsonFileType",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems",
																			"exists",
																			"itemName",
																			"itemType",
																			"lastModified"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "FilterForJsonFileType",
																	"type": "Filter",
																	"dependsOn": [
																		{
																			"activity": "SetExcludeFilesForJsonFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"items": {
																			"value": "@activity('Get MetadataForJsonFileType').output.childItems",
																			"type": "Expression"
																		},
																		"condition": {
																			"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),endswith(item().name,'json'))",
																			"type": "Expression"
																		}
																	}
																},
																{
																	"name": "ExecutePipelineForJsonFileType",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "FilterForJsonFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "NestedForEach",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"SourceFile": {
																				"value": "@activity('FilterForJsonFileType').output.Value",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SetExcludeFilesForJsonFileType",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get MetadataForJsonFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "ExcludeFiles",
																		"value": {
																			"value": "@item().ExcludeFiles",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"value": "*.csv",
															"activities": [
																{
																	"name": "Get MetadataForCSVFileType",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems",
																			"exists",
																			"itemName",
																			"itemType",
																			"lastModified"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "FilterForCSV",
																	"type": "Filter",
																	"dependsOn": [
																		{
																			"activity": "SetExcludeFilesForCSVFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"items": {
																			"value": "@activity('Get MetadataForCSVFileType').output.childItems",
																			"type": "Expression"
																		},
																		"condition": {
																			"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),endswith(item().name,'csv'))",
																			"type": "Expression"
																		}
																	}
																},
																{
																	"name": "Execute Pipeline1ForCSVFileType",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "FilterForCSV",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "NestedForEach",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"SourceFile": {
																				"value": "@activity('FilterForCSV').output.Value",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SetExcludeFilesForCSVFileType",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get MetadataForCSVFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "ExcludeFiles",
																		"value": {
																			"value": "@item().ExcludeFiles",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"value": "*.parquet",
															"activities": [
																{
																	"name": "Get Metadata1ForParquet",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems",
																			"exists",
																			"itemName",
																			"itemType",
																			"lastModified"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "FilterForParquetFileType",
																	"type": "Filter",
																	"dependsOn": [
																		{
																			"activity": "SetExcludeFilesForParquetFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"items": {
																			"value": "@activity('Get Metadata1ForParquet').output.childItems",
																			"type": "Expression"
																		},
																		"condition": {
																			"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),endswith(item().name,'parquet'))",
																			"type": "Expression"
																		}
																	}
																},
																{
																	"name": "ExecutePipeline1ForParquetFileType",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "FilterForParquetFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "NestedForEach",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"SourceFile": {
																				"value": "@activity('FilterForParquetFileType').output.Value",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SetExcludeFilesForParquetFileType",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get Metadata1ForParquet",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "ExcludeFiles",
																		"value": {
																			"value": "@item().ExcludeFiles",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"value": "*",
															"activities": [
																{
																	"name": "Get Metadata1ForAllFileType",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems",
																			"exists",
																			"itemName",
																			"itemType",
																			"lastModified"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "FilterForAllFileType",
																	"type": "Filter",
																	"dependsOn": [
																		{
																			"activity": "SetExcludeFilesForAllFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"items": {
																			"value": "@activity('Get Metadata1ForAllFileType').output.childItems",
																			"type": "Expression"
																		},
																		"condition": {
																			"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),contains(item().name,'.'))",
																			"type": "Expression"
																		}
																	}
																},
																{
																	"name": "ExecutePipelineForAllFileType",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "FilterForAllFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "NestedForEach",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"SourceFile": {
																				"value": "@activity('FilterForAllFileType').output.Value",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SetExcludeFilesForAllFileType",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get Metadata1ForAllFileType",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "ExcludeFiles",
																		"value": {
																			"value": "@item().ExcludeFiles",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													],
													"defaultActivities": [
														{
															"name": "Get MetadataWhenFileTypeisNull",
															"type": "GetMetadata",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"dataset": {
																	"referenceName": "GetMetadataOfBlobStorage",
																	"type": "DatasetReference",
																	"parameters": {
																		"SourcePath": {
																			"value": "@item().SourcePath",
																			"type": "Expression"
																		},
																		"SourceFolder": {
																			"value": "@item().SourceFolder",
																			"type": "Expression"
																		}
																	}
																},
																"fieldList": [
																	"childItems",
																	"exists",
																	"itemName",
																	"itemType",
																	"lastModified"
																],
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															}
														},
														{
															"name": "FilterWhenFileTypeisNull",
															"type": "Filter",
															"dependsOn": [
																{
																	"activity": "SetExcludeFilesWhenFileTypeisNull",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"userProperties": [],
															"typeProperties": {
																"items": {
																	"value": "@activity('Get MetadataWhenFileTypeisNull').output.childItems",
																	"type": "Expression"
																},
																"condition": {
																	"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),contains(item().name,'.'))",
																	"type": "Expression"
																}
															}
														},
														{
															"name": "ExecutePipelineWhenFileTypeisNull",
															"type": "ExecutePipeline",
															"dependsOn": [
																{
																	"activity": "FilterWhenFileTypeisNull",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "NestedForEach",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": false,
																"parameters": {
																	"SourceFolder": {
																		"value": "@item().SourceFolder",
																		"type": "Expression"
																	},
																	"SourceFile": {
																		"value": "@activity('FilterWhenFileTypeisNull').output.Value",
																		"type": "Expression"
																	},
																	"SourcePath": {
																		"value": "@item().SourcePath",
																		"type": "Expression"
																	},
																	"TargetPath": {
																		"value": "@item().TargetPath",
																		"type": "Expression"
																	},
																	"TargetFolder": {
																		"value": "@item().TargetFolder",
																		"type": "Expression"
																	}
																}
															}
														},
														{
															"name": "SetExcludeFilesWhenFileTypeisNull",
															"type": "SetVariable",
															"dependsOn": [
																{
																	"activity": "Get MetadataWhenFileTypeisNull",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"userProperties": [],
															"typeProperties": {
																"variableName": "ExcludeFiles",
																"value": {
																	"value": "@item().ExcludeFiles",
																	"type": "Expression"
																}
															}
														}
													]
												}
											}
										]
									}
								},
								{
									"name": "SetVariableForExclueFile",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ExcludeFiles",
										"value": {
											"value": "@item().ExcludeFiles",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"ExcludeFiles": {
						"type": "String"
					},
					"TrueFileType": {
						"type": "String"
					},
					"FileTypeFinal": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Jyoti_Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-17T05:00:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromDifferentBlobWithMultipleExcludeFile_v1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSqlTableDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select a.ParamName,a.SourcePath,a.SourceFolder,a.SourceFileType_New as SourceFileType,a.TargetPath,a.TargetFolder,a.TargetFileType,a.ExcludeFiles,a.ActiveFlag from (\nselect ParamName,SourcePath,SourceFolder,SourceFileType,TargetPath,TargetFolder,TargetFileType,ExcludeFiles, ActiveFlag, CASE \n\t\t\t\tWHEN (SourceFileType is NULL) THEN '*'\n\t\t\t\tELSE SourceFileType\n\t\t\t\tend as SourceFileType_New \n\t\t\t\tfrom [cglhdatabase].[dbo].[CGConfiguration] \nwhere GroupName='CopyFiles' and ActiveFlag = 'Y') a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Record1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSqlTableDetail",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSqlTableDetail').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SetVariableForExclueFile",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(empty(item().ExcludeFiles))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "CopydataForeach",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@item().SourceFolder",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@item().SourceFileType",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "CGLHSourceCSVType",
														"type": "DatasetReference",
														"parameters": {
															"SourcePath": {
																"value": "@item().SourcePath",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "CGLHTargetCSVType",
														"type": "DatasetReference",
														"parameters": {
															"TargetPath": {
																"value": "@item().TargetPath",
																"type": "Expression"
															},
															"TargetFolder": {
																"value": "@item().TargetFolder",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "SwitchForSettingFileType",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@item().SourceFileType",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "*.json",
															"activities": [
																{
																	"name": "Get Metadata1ForAllFileType_Json",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "Execute Pipeline3",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "SplitExcludeFileWithCommas_Json",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "ForEveryJsonTypeExcludeFiles",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"a1": {
																				"value": "@array(activity('Get Metadata1ForAllFileType_Json').output.childItems)",
																				"type": "Expression"
																			},
																			"a2": {
																				"value": "@array(variables('SplitExcludeFilesIntoArray'))",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SplitExcludeFileWithCommas_Json",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get Metadata1ForAllFileType_Json",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "SplitExcludeFilesIntoArray",
																		"value": {
																			"value": "@split(variables('ExcludeFiles'),',')",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"value": "*.csv",
															"activities": [
																{
																	"name": "Get Metadata1ForAllFileType_CSV",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "Execute Pipeline1_1",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "SplitExcludeFileWithCommas_CSV",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "ForEveryCSVTypeExcludeFiles",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"a1": {
																				"value": "@array(activity('Get Metadata1ForAllFileType_CSV').output.childItems)",
																				"type": "Expression"
																			},
																			"a2": {
																				"value": "@array(variables('SplitExcludeFilesIntoArray'))",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SplitExcludeFileWithCommas_CSV",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get Metadata1ForAllFileType_CSV",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "SplitExcludeFilesIntoArray",
																		"value": {
																			"value": "@split(variables('ExcludeFiles'),',')",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"value": "*.parquet",
															"activities": [
																{
																	"name": "Get Metadata1ForAllFileType_Parquet",
																	"type": "GetMetadata",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "Execute Pipeline2",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "SplitExcludeFileWithCommas_Parquet",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "ForEveryParquetTypeExcludeFiles",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"a1": {
																				"value": "@array(activity('Get Metadata1ForAllFileType_Parquet').output.childItems)",
																				"type": "Expression"
																			},
																			"a2": {
																				"value": "@array(variables('SplitExcludeFilesIntoArray'))",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SplitExcludeFileWithCommas_Parquet",
																	"type": "SetVariable",
																	"dependsOn": [
																		{
																			"activity": "Get Metadata1ForAllFileType_Parquet",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "SplitExcludeFilesIntoArray",
																		"value": {
																			"value": "@split(variables('ExcludeFiles'),',')",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"value": "*",
															"activities": [
																{
																	"name": "Get Metadata1ForAllFileType",
																	"type": "GetMetadata",
																	"dependsOn": [
																		{
																			"activity": "SplitExcludeFileWithCommas",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "GetMetadataOfBlobStorage",
																			"type": "DatasetReference",
																			"parameters": {
																				"SourcePath": {
																					"value": "@item().SourcePath",
																					"type": "Expression"
																				},
																				"SourceFolder": {
																					"value": "@item().SourceFolder",
																					"type": "Expression"
																				}
																			}
																		},
																		"fieldList": [
																			"childItems"
																		],
																		"storeSettings": {
																			"type": "AzureBlobStorageReadSettings",
																			"recursive": true
																		},
																		"formatSettings": {
																			"type": "DelimitedTextReadSettings"
																		}
																	}
																},
																{
																	"name": "Execute Pipeline1",
																	"type": "ExecutePipeline",
																	"dependsOn": [
																		{
																			"activity": "Get Metadata1ForAllFileType",
																			"dependencyConditions": [
																				"Completed"
																			]
																		}
																	],
																	"userProperties": [],
																	"typeProperties": {
																		"pipeline": {
																			"referenceName": "nestedForEachForExcludFiles",
																			"type": "PipelineReference"
																		},
																		"waitOnCompletion": false,
																		"parameters": {
																			"a1": {
																				"value": "@array(activity('Get Metadata1ForAllFileType').output.childItems)",
																				"type": "Expression"
																			},
																			"a2": {
																				"value": "@array(variables('SplitExcludeFilesIntoArray'))",
																				"type": "Expression"
																			},
																			"SourcePath": {
																				"value": "@item().SourcePath",
																				"type": "Expression"
																			},
																			"SourceFolder": {
																				"value": "@item().SourceFolder",
																				"type": "Expression"
																			},
																			"TargetPath": {
																				"value": "@item().TargetPath",
																				"type": "Expression"
																			},
																			"TargetFolder": {
																				"value": "@item().TargetFolder",
																				"type": "Expression"
																			}
																		}
																	}
																},
																{
																	"name": "SplitExcludeFileWithCommas",
																	"type": "SetVariable",
																	"dependsOn": [],
																	"userProperties": [],
																	"typeProperties": {
																		"variableName": "SplitExcludeFilesIntoArray",
																		"value": {
																			"value": "@split(variables('ExcludeFiles'),',')",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													],
													"defaultActivities": [
														{
															"name": "Get MetadataWhenFileTypeisNull",
															"type": "GetMetadata",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"dataset": {
																	"referenceName": "GetMetadataOfBlobStorage",
																	"type": "DatasetReference",
																	"parameters": {
																		"SourcePath": {
																			"value": "@item().SourcePath",
																			"type": "Expression"
																		},
																		"SourceFolder": {
																			"value": "@item().SourceFolder",
																			"type": "Expression"
																		}
																	}
																},
																"fieldList": [
																	"childItems",
																	"exists",
																	"itemName",
																	"itemType",
																	"lastModified"
																],
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															}
														},
														{
															"name": "FilterWhenFileTypeisNull",
															"type": "Filter",
															"dependsOn": [
																{
																	"activity": "SetExcludeFilesWhenFileTypeisNull",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"userProperties": [],
															"typeProperties": {
																"items": {
																	"value": "@activity('Get MetadataWhenFileTypeisNull').output.childItems",
																	"type": "Expression"
																},
																"condition": {
																	"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),contains(item().name,'.'))",
																	"type": "Expression"
																}
															}
														},
														{
															"name": "ExecutePipelineWhenFileTypeisNull",
															"type": "ExecutePipeline",
															"dependsOn": [
																{
																	"activity": "FilterWhenFileTypeisNull",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "NestedForEach",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": false,
																"parameters": {
																	"SourceFolder": {
																		"value": "@item().SourceFolder",
																		"type": "Expression"
																	},
																	"SourceFile": {
																		"value": "@activity('FilterWhenFileTypeisNull').output.Value",
																		"type": "Expression"
																	},
																	"SourcePath": {
																		"value": "@item().SourcePath",
																		"type": "Expression"
																	},
																	"TargetPath": {
																		"value": "@item().TargetPath",
																		"type": "Expression"
																	},
																	"TargetFolder": {
																		"value": "@item().TargetFolder",
																		"type": "Expression"
																	}
																}
															}
														},
														{
															"name": "SetExcludeFilesWhenFileTypeisNull",
															"type": "SetVariable",
															"dependsOn": [
																{
																	"activity": "Get MetadataWhenFileTypeisNull",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"userProperties": [],
															"typeProperties": {
																"variableName": "ExcludeFiles",
																"value": {
																	"value": "@item().ExcludeFiles",
																	"type": "Expression"
																}
															}
														}
													]
												}
											}
										]
									}
								},
								{
									"name": "SetVariableForExclueFile",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ExcludeFiles",
										"value": {
											"value": "@item().ExcludeFiles",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"ExcludeFiles": {
						"type": "String"
					},
					"CovertMetaDataToArray": {
						"type": "Array"
					},
					"FileTypeFinal": {
						"type": "Array"
					},
					"SplitExcludeFilesIntoArray": {
						"type": "Array"
					},
					"LoopThroughExcludeFilesVariable": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Jyoti_Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-23T08:22:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromDifferentBlob_ExcludeFunctionality_Parameterize')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSqlTableDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "\nselect ParamName,SourcePath,SourceFolder,SourceFileType,TargetPath,TargetFolder,TargetFileType,ExcludeFiles from [cglhdatabase].[dbo].[CGConfiguration] \nwhere ParamName='CopyJSON_BLOBtoBLOB'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Record",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSqlTableDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSqlTableDetail').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "GetMetadataOfBlobStorage",
											"type": "DatasetReference",
											"parameters": {
												"SourcePath": {
													"value": "@item().SourcePath",
													"type": "Expression"
												},
												"SourceFolder": {
													"value": "@item().SourceFolder",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems",
											"exists",
											"itemName",
											"itemType",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Filter1",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('Get Metadata1').output.childItems",
											"type": "Expression"
										},
										"condition": {
											"value": "@not(contains(item().name,'sample_json1.json'))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Filter1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "NestedForEach",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"SourceFolder": {
												"value": "@item().SourceFolder",
												"type": "Expression"
											},
											"SourceFile": {
												"value": "@activity('Filter1').output.Value",
												"type": "Expression"
											},
											"SourcePath": {
												"value": "@item().SourcePath",
												"type": "Expression"
											},
											"TargetPath": {
												"value": "@item().TargetPath",
												"type": "Expression"
											},
											"TargetFolder": {
												"value": "@item().TargetFolder",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Jyoti_Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-12T08:17:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_i1h",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.DimAccount"
							},
							{
								"name": "Destination",
								"value": "cglhcontainer//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_i1h",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_i1h",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-30T05:38:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_i1h')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyWithIfElseFromDifferentBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSqlTableDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select ParamName,SourcePath,SourceFolder,SourceFileType,TargetPath,TargetFolder,TargetFileType,ExcludeFiles from [cglhdatabase].[dbo].[CGConfiguration] \nwhere ParamName='CopyJSON_BLOBtoBLOB'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Record",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSqlTableDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSqlTableDetail').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(empty(item().ExcludeFiles))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "CopydataForeach",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@item().SourceFolder",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@item().SourceFileType",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "CGLHSourceCSVType",
														"type": "DatasetReference",
														"parameters": {
															"SourcePath": {
																"value": "@item().SourcePath",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "CGLHTargetCSVType",
														"type": "DatasetReference",
														"parameters": {
															"TargetPath": {
																"value": "@item().TargetPath",
																"type": "Expression"
															},
															"TargetFolder": {
																"value": "@item().SourceFolder",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Get Metadata1",
												"type": "GetMetadata",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "GetMetadataOfBlobStorage",
														"type": "DatasetReference",
														"parameters": {
															"SourcePath": {
																"value": "@item().SourcePath",
																"type": "Expression"
															},
															"SourceFolder": {
																"value": "@item().SourceFolder",
																"type": "Expression"
															}
														}
													},
													"fieldList": [
														"childItems",
														"exists",
														"itemName",
														"itemType",
														"lastModified"
													],
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings"
													}
												}
											},
											{
												"name": "Filter1",
												"type": "Filter",
												"dependsOn": [
													{
														"activity": "Set variable1_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"items": {
														"value": "@activity('Get Metadata1').output.childItems",
														"type": "Expression"
													},
													"condition": {
														"value": "@and(not(contains(item().name,variables('ExcludeFiles'))),endswith(item().name,'.json'))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Filter1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "NestedForEach",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"SourceFolder": {
															"value": "@item().SourceFolder",
															"type": "Expression"
														},
														"SourceFile": {
															"value": "@activity('Filter1').output.Value",
															"type": "Expression"
														},
														"SourcePath": {
															"value": "@item().SourcePath",
															"type": "Expression"
														},
														"TargetPath": {
															"value": "@item().TargetPath",
															"type": "Expression"
														},
														"TargetFolder": {
															"value": "@item().TargetFolder",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set variable1_copy1",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Get Metadata1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "ExcludeFiles",
													"value": {
														"value": "@item().ExcludeFiles",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ExcludeFiles",
										"value": {
											"value": "@item().ExcludeFiles",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"ExcludeFiles": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Jyoti_Pipelines"
				},
				"annotations": [
					"source"
				],
				"lastPublishTime": "2020-08-14T11:15:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadBlobToTable_withMetaOption')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSqlDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select SourcePath,SourceFolder,SourceFileType,SQLTargetDatabase,SQLTargetUser,SQLTargetPassword,SQLTargetTable from [cglhdatabase].[dbo].[CGConfiguration] \nwhere GroupName='CopyFiles_BLOBtoSQL' and ActiveFlag='y'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzuretoCGLHDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSqlDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSqlDetail').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "LoadBlobToTable",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/jyoti.srivastava@annik.com/LoadBlobToSql",
										"baseParameters": {
											"SourcePath": {
												"value": "@item().SourcePath",
												"type": "Expression"
											},
											"SourceFolder": {
												"value": "@item().SourceFolder",
												"type": "Expression"
											},
											"SourceFileType": {
												"value": "@item().SourceFileType",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "cglhlinkedservice_json",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "LoadBlobToTable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DumptoSqlParallel",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Jyoti_Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-23T18:29:23Z"
			},
			"dependsOn": []
		}
	]
}